.cart-panier{
    
    .cart{
        background-color: #313131;;
        padding: 20px;
        float: right;
        width: 35%;
        margin: 5%;
        h4{
            font-size: 16px;
            font-weight: 700;
            padding: 40px 20px 5px 10px;
            display: inline;
            position: absolute;
            width: 20%;
        }
        span{
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
        }
        .price{
            float: right;
            color: $color_red;
            font-weight: 700;
        }
        .pass-cmd{
            @extend %button-a;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 35px;
            width: 70%;
            
        }
        .voir-cmd{
            @extend %link_a;
            color: $color_red;
            padding: 10px;
            border: 2px solid $color_red;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 35px;
            width: 70%;
        }
    }
}
